.paper {
	color: inherit;
	cursor: pointer;
	border-bottom: none;
}

.paper:visited {
	text-decoration: underline;
}

.paper-conditional {
	font-style: italic;
}

.paper-first-author, .paper-author {
	font-weight: bold;
}

.project-cth {
	width: 300px;
	height: 100%;
}

.fa-file-text {
	cursor: pointer; 
}

.project-video, .project-image {
	margin-right:  10px;
	margin-top:  5px;
	flex: 1 0 auto;
	margin-bottom: 30px; 
}

.project-content {
	display: flex; 
	flex-direction: column;
}

.project-text {
	margin-bottom: 10px;
}

#three > .container {
	padding-top:  4em;
}




