.paper {
	color: inherit;
	cursor: pointer;
	border-bottom: none;
}

.paper:visited {
	text-decoration: underline;
}

.paper-conditional {
	font-style: italic;
}

.paper-first-author, .paper-author {
	font-weight: bold;
}

.project-rewire {
	height: 100%; 
	width: 100%; 
}

.project-cth {
	width: 300px;
}

.fa-file-text {
	cursor: pointer; 
}

.project-video, .project-image {
	float:  left;
	margin-right:  10px;
	margin-top:  5px;
}

#three {
	clear:  left;
}

#three > .container {
	padding-top:  4em;
}



