.paper {
	color: inherit;
	cursor: pointer;
	border-bottom: none;
}

.paper:visited {
	text-decoration: underline;
}

.fa-file-text {
	cursor: pointer; 
}

.project-video, .project-image {
	float:  left;
	margin-right:  20px;
	margin-top:  5px;
}

.project-image {
	width:  300px;
}

#three {
	clear:  left;
}

#three > .container {
	padding-top:  4em;
}

